
.Box1{
    /*   width: 363px;
      height: 537px;
  /*     top: 670px;
      left: 96px;
     /*  padding: 49px; */
   /*    border-radius: 20px;
      gap: 15px; */ 
  
  }
  /* .Box2{
      width: Fixed (363px);
      height: Fixed (537px);
      top: 670px;
      left: 513px;
      border-radius: 20px;
      padding: 49px;
      gap: 15px;
  }
  
  .Box3{
      width: Fixed (363px);
      height: Fixed (537px);
      top: 670px;
      left: 930px;
      border-radius: 20px;
      padding: 49px;
      gap: 15px;
  } */